@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Roboto&display=swap');

html, body {
  background-color: #F2F2F2;
}

.App {
  text-align: center;
  font-family: Roboto;
  background-color: #F2F2F2;
  height: 100%;
  padding: 2rem 2rem;
}

/* .wrapper {
  height: 100vh;
} */
.forecast-container{
  display:flex;
  flex-flow: row wrap;
  padding: 1em 0;
  /* background-color: #F2F2F2;
  border: 1px solid #F2F2F2; */
  justify-content: space-between;
  
}

.forecast-day {
  display: flex;
  flex-flow: column wrap;
  border: 1px solid #B4CED9;
  /* padding: 1em 0.75em; */
  background-color: #B4CED9;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  flex-basis: 11%;
}

.forecast-day:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.img {
  width: 100px;
  border: 1px solid blue;
}

.selected {
  font-weight: bold;
}

.unselected {
  cursor: pointer;
}

.day-header {
  font-family: 'Nunito', sans-serif;
  background-color: #8DC3F2;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 0.25rem 0;

}

.daily-detailed-card {
  display: flex;
  flex-flow: column wrap;
  border: 1px solid #B4CED9;
  /* padding: 1em 0.75em; */
  background-color: #B4CED9;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 35%;
  
  margin: 0 auto;
}

.daily-detailed-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flex-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0.25rem 0.75rem ;
}

.flex-column {
  display: flex;
  flex-flow: column wrap;
}

.test-border1 {
  border: 2px solid red;
}

.temp-container {
  border: 2px solid blue;
  display: flex;
  flex-flow: row;
  align-items: center;
  font-size: 1.25rem;
}

.cf-container {
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  
  justify-content: space-between;
}



.search-button{
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius: 5px;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  cursor: pointer;
  background-color: #8DC3F2;
  text-align:center;
  transition: all 0.2s;
  }

  .search-button:hover{
    background-color:#B4CED9;
  }

  @media all and (max-width:30em){
  .search-button{
    display:block;
    margin:0.2em auto;
    }
  } 



