.App {
  text-align: center;
}

.forecast-container{
  display:flex;
  flex-flow: row wrap;
 
  border: 1px solid red;
  justify-content: space-evenly;
}

.forecast-day {
  border: 1px solid green;
}


